/**
  Color Scheme: #E1BB80;
  Tints: 
  Shades: 

**/

/**
  General Section
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


/**
  Header Section
**/

nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

NavBar {
  margin-bottom: 4rem;
}

.menuButton {
  cursor: pointer;
  position: relative;
}

/**
  Menu slides (Sliding menu)
**/

.menuSlide {
  height: 100%;
  width: 30vw;
  max-width: 50rem;
  z-index: 100;
  top: 0;
  right: 0;

  background-color: black;
  color: white;
  padding: 2rem 5rem;

  position: fixed;
  transform: translate(50rem, 0);
  transition: all 0.4s;
}

.menuHeader {
  letter-spacing: 0.5rem;
  font-size: 5vw;
  cursor: pointer;
  margin-bottom: 10rem;
}

.menuList li {
  list-style-type: none;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}

/**
  Main Content

**/

main {
  width: 80%;
  box-sizing:border-box;
  margin: auto;
  margin-bottom: 2rem; 
  box-shadow: 1.5px 1.5px 1.5px 1.5px #886f7b;
  background-color: #cd9fb4;
  color: white;
}

h1 {
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  text-align: center;
}

.IonIcon {
  height: 1rem;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
  Form
  -Jina

**/

.encouragement {
  width: 80%;
  padding: 1rem;
  color: black;
  
}

h2 {
  font-family: Menlo;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  text-align: center;
}
/**
  Enter
  -Jina
**/
.enterMusic {
  width: 50%;
  padding: 1.5rem;
  margin-top: 2rem;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 2mm;
  
}

/**
  Button
  -Jina & Jay
**/

.align {
  display: flex;
  justify-content: center;
  padding: 0rem 0.5rem;
}

.last-align {
  padding: 0.5rem;
}

.button {
  width: 50%;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem; 
  box-shadow: 1px 1px 1px 1px #888;
  background-color: #97a7daa3;
  border-color:#888;
  border-radius: 2mm;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color:white;
}

.add {
  margin-bottom: 0rem;
  
}

.clear {
  background-color: #6478b5a3;
}
